.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d5bec5;
}

.form {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 120px;
}

.form h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #f73474;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input[type="email"],
.input[type="password"] {
  border: none;
  border-radius: 5px;
  padding: 20px; /* Increase the padding */
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #f73474;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff4d94;
}
