@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.Main {
    background: linear-gradient(to right, #d85b45, #ff4470);
    background: #425F57;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3020833333333333vw;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0px;
    z-index: 10000000;
}

.Main h3 {
    font-family: 'Zen Dots', cursive;
}

.icons {
    display: flex;
    gap: 10px;
}

.logout {
    cursor: pointer;
}

.subNavbar {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 40px;

    /* padding: 0 20px; */
    font-size: 17px;
    font-weight: 500;
    margin-left: 1px;
    background-color: #c7c5c558;
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;

}

.active {
    background-color: rgba(128, 128, 128, 0.21);
    padding: 5px 20px;
    border-radius: 4px;
    margin-left: 3px;
    color: black;
}

.inactive {
    padding: 5px 20px;
    color: black;

}